.details-bg {
  inset: 0;
  background-color: rgb(16 10 10 / 73%);
  height: 100vh;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
}

.event-modal {
  color: #fff;
  box-shadow: inset -2px -50px 15px -5px #000000;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  background-color: #fff;
  border-radius: 5px;
  background-repeat: round;
  text-shadow: -6px 1px 5px #000000;
  h1 {
    font-size: 2rem;
  }
  a {
    position: absolute;
    top: 29rem;
    font-size: 1.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
