.event-preview {
  align-items: center;
  justify-content: center;
  width: 100%;

  .event {
    width: 300px;
    margin: 0 auto;
  }
}

.details-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.4s;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  z-index: 10;
  font-size: 1.3em;
}

.book-preview:hover .img-container .img-btn {
  box-shadow: #050505;
  opacity: 1;
}

.book-preview .img-container .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s;
}

.book-preview:hover .img-container .img-overlay {
  opacity: 1;
}
