.main-filter {
  margin-bottom: 45px;
  .search-icon-container {
    width: 29vw;
    height: 2.5rem;
    background-color: #f1f1f1;
    border-radius: 3px;
    svg {
      position: relative;
      top: 4px;
      left: 9px;
      color: cadetblue;
    }
    input {
      border: 0;
      width: 26vw;
      &:focus-visible {
        outline: 0;
      }
    }
  }
}
